<footer class="article-meta article-footer">
    {{ partial "article/components/tags" . }}

    {{ partial "article/components/share" . }}

    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright inline-meta">
        {{ partial "helper/icon" "copyright" }}
        <span>{{ default .Site.Params.article.license.default .Params.license | markdownify }}</span>
    </section>
    {{ end }}

    {{ if .Lastmod }}
    <section class="article-lastmod inline-meta">
        {{ partial "helper/icon" "refresh" }}
        <span>
            更新于 {{ .Lastmod | time.Format .Site.Params.dateFormat.lastUpdated }}
        </span>
    </section>
    {{ end }}
</footer>
